.app-layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.app-layout__header {
  display: flex;
  gap: 12px;
  align-items: center;
}
.app-layout__content {
  padding: 12px;
}
.app-layout__header__logout {
  cursor: pointer;
  color: var(--color-text);
}
.app-layout__header__link {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-text);
}
