.theme-toggle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid var(--color-border);
  background-color: var(--color-gray-950);
  margin: 8px;
}

.theme-toggle:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}
